.App {
  background-color:DodgerBlue;
  min-height: 100vh;
}

.App-header {
  background-color: aqua;
}

.img-id {
  height: 30vmin;
  border-radius: 50%;
}

.monBouton {
  background-color: bisque;
}


